<div class="m-2 p-3">
    <h2>Of-From</h2>
    <br>
    <strong>Ex - 01 (OF)</strong>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded"><strong>Data: </strong>of('Anup', 'Kiran', 'kumar')</p>
            <hr>
            <ul id="elContainer"></ul>
        </div>
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded"><strong>Data: </strong>of(&#123; a: 'Anup', b:'kiran', c:'kumar'&#125;)</p>
            <hr>
            <ul>
                <li><strong>a: </strong>{{obsMsg.a}}</li>
                <li><strong>b: </strong>{{obsMsg.b}}</li>
                <li><strong>c: </strong>{{obsMsg.c}}</li>
            </ul>
        </div>
    </div>

    <br>
    <strong>Ex - 02 (From)</strong>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <strong>Array</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded"><strong>Data: </strong>from(['Anup', 'Kiran', 'kumar'])</p>
            <hr>
            <ul id="elContainer3"></ul>
        </div>

        <div class="col-md-4">
            <strong>Promise</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded"><strong>Data: </strong>Promise to Observable</p>
            <hr>
            <ul id="elContainer4"></ul>
        </div>

        <div class="col-md-4">
            <strong>String to Observable</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded"><strong>Data: </strong>String to Observable</p>
            <hr>
            <ul id="elContainer5"></ul>
        </div>
    </div>

    
</div>