<div class="row">
    <div class="allOperator">
        <ul class="list">
            <li><a routerLink="from-event">From Event</a></li>
            <li><a routerLink="interval">Interval</a></li>
            <li><a routerLink="of-from">Of-From</a></li>
            <li><a routerLink="toArray">toArray</a></li>
            <li><a routerLink="custom">Custom Observable</a></li>
            <li><a routerLink="toArray">toArray</a></li>
            <li><a routerLink="custom">Custom Observable</a></li>
            <li><a routerLink="toArray">toArray</a></li>
            <li><a routerLink="custom">Custom Observable</a></li>
        </ul>
    </div>
</div>